<div class="landing-page">
  <%= image_tag "https://via.placeholder.com/150", alt: "app landing page image", class: "mx-auto pt-5 profile-img" %>
  <div class="text-center text-white">
    <h1>DnD Character Tracker</h1>
    <p>Where you'll never have to worry about where you left your character sheet or forget old characters.</p>
  </div>
  <%= link_to 'Login', new_user_session_path, class: "block button primary-btn lg:inline-block lg:mt-0 hover:text-white" %>
  <%= link_to 'Register', new_user_registration_path, class: "block mt-4 mx-4 button secondary-btn lg:inline-block lg:mt-0 hover:text-white" %>
</div>
