<!DOCTYPE html>
<html>
  <head>
    <title>DnD Character Tracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div>
      <h1>The logged in show page</h1>
    </div>
  </body>
</html>
