<div class="container mx-auto px-4">
  <h2 class="uppercase">Character List</h2>
  <ul>
    <% @characters.each do |character| %>
      <li>
        <a href="<%= character_path(character) %>">
          <%= character.name %>
        </a>
      </li>
    <% end %>
  </ul>
</div>
