<div class="flex landing-page">
  <div class="container px-4">
    <div class="mb-4">
      <%= image_tag "logo.jpg", alt: "blue and gray dragon logo", class: "mx-auto profile-img" %>
    </div>
    <div class="text-white mx-4">
      <h1>DnD Character Tracker</h1>
      <p class="py-4">Where you'll never have to worry about where you left your character sheet or forget old characters.</p>
    </div>
    <div class="flex flex-row flex-1landing-btns mt-4">
      <div class="flex-auto">
        <%= link_to 'Login', new_user_session_path, class: "button primary-btn" %>
      </div>
      <div class="flex-auto">
        <%= link_to 'Register', new_user_registration_path, class: "button secondary-btn" %>
      </div>
    </div>
  </div>
</div>
