a {
  color: coral;
}

.button {
  padding: 10px 25px;
  border-radius: 2px;
  text-align: center;
  max-width: 75%;
  margin: 1em auto;
}

.primary-btn {
  background: $secondary-color;
  color: $white;
}

.secondary-btn {
  background: $white;
  color: $secondary-color;
}
