.landing-page {
  background: linear-gradient(to bottom, #000E14, #003D5C);
  height: 100vh;
  align-items:center;
  text-align: center;

  h1 {
    font-size: 2.25em;
    padding-bottom: 20px;
    line-height: 45px;
  }

  .content {
    margin: 40px 0 60px;
  }

  .button {
    width: 150px;
  }

  .button:first-of-type {
    margin-right: 40px;
  }

  p {
    font-size: 15px;
  }
}

.logo {
  max-width: 75%;
  border-radius: 50%;
}
